
SUBSYSTEM=="video4linux", ATTR{name}=="HD Pro Webcam C920", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="08e5", KERNEL=="video[0-9]*", RUN+="/usr/local/bin/init_webcam.sh"
